body {
    background-color: white;
    font-family: montserrat, arial, serif; 
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 0.08em;   
}
h1 {
    font-family: "Abril Fatface", sans-serif;
    color: brown;
}
h2 ,h3 {
    font-family: montserrat, sans-serif;
    color: rgb(50, 35,148);
}
/* Style pour la bar de navigation */

a {
    text-decoration: none;
    color: black;
}
img {
    width: 150px;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content:space-between;

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style-type: none;
    margin-right: 20px;
    margin-top: 50px;
}
/* Taille du formulaire - fond en gradient*/
main {
    background-image: linear-gradient(to right, rgb(234, 124, 142),rgb(216, 204, 245) ,rgb(128, 0, 128,0.8));
    border-radius: 10px;
}
/* Bouton soumettre*/
#submit {
    background-color: brown;
    color: white;
    width: 150px;
    height: 30px;
    margin: 50px 0px 50px 80px;
}

/* Aligner  au centre le formulaire*/
.center  { 
    display: block;
    margin-left: 25%;

  }

/* Largeur à 70% de la fenetre de saisir de données */
.boite_saisir {
    width: 70%;
    height: 30px;
}

/* Style pour le pied de page */

footer {
    margin-top: 30px;
    margin-left: 100px;
}
.illustration {
    width: 25%;
    float: right;
    margin-top: -200px;
}
.pied_de_page {
    font-family: montserrat;
    width: 380px;
  }
.linkedin {
    width: 100px;
    height: 40px;
}

.twitter {
    width: 100px;
    height: 40px;
    margin-left: 30px;
}

.medium {
    width: 100px;
    height: 40px;
    margin-left: 30px;
}