/* Font Montserrat appliquer au body en mettant aussi des margin left et right pour gérer l'espace de la taille de l'écran*/
body {
    font-family: 'montserrat', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}    

/* Font AbrilFatFace pour titre h1*/

h1 {
    font-family: 'abril fatface', sans-serif;
    color: rgb(213, 90, 90);
    font-weight: 300;
    margin-left: 180px;
    margin-top: 30px;
}

/* text decoration pour enlever l'underline auto sur les liens*/

a {
    text-decoration: none;
    color: black;
}

/* Display flex pour mise en place des redirection (accueil/CV/etc..)*/

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
}

/* Mise en place des logos et gestion de leurs espacement*/

.space {
    margin-right: 30px;
    margin-top: -180px;
}

/* Mise en place d'une transition :hover qui agrandit les logos/images quand on passe dessus sauf l'illustration*/

a {
    display: inline-block;
    transition: transform 0.5s;
}

a:hover {
    transform: scale(1.2);
}

img:not(images/illustration.png) {
    display: inline-block;
    transition: transform 0.5s;
}

img:hover:not(images/illustration.png) {
    transform: scale(1.1);
}

/* Taille du logo et sa position*/

.logo {
    width: 50%;
    justify-content: left;
    margin-left: 150px;
}

/* Position paragraphe et des images/liens*/

.container2 {
    margin-right: 400px;
    margin-left: 180px;
    margin-top: 30px;
}

/* Gestion de la taille de l'image d'illustration et de sa position*/

.illustration {
    width: 40%;
    float: right;
    margin-right: -230px;
    margin-top: -250px;
}

/* Gestion de la taile de la font, son style et sa position*/

.paragraphe {
    font-weight: 500;
    font-size: 200%;
    opacity: 80%;
    margin-left: 180px;
    margin-top: 5px;
}

/* Gestion des position et taille des 3 logos*/

.linkedin {
    width: 150px;
    height: 50px;
    margin-left: 30px;
}

.twitter {
    width: 150px;
    height: 50px;
    margin-left: 30px;
}

.medium {
    width: 150px;
    height: 50px;
    margin-left: 30px;
}

/* Mise en place d'un display grid avec 2 colonnes et 3 lignes pour mise en place de 6 photos*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    margin-top: 100px;
}

/* Taille des images mise en place*/

.box img {
    width: 95%;
    height: 100%;
}

/* Gestion du gap entre les images du dessous entre elles*/

.box {
    margin-bottom: 140px;
}

/* Gestion taille paragraphe et opacité*/

.p-photo {
    font-size: 10px;
    opacity: 60%;
}

/* Gestion taille paragraphe et couleur*/

.p-photo-lorem {
    color: rgb(174, 0, 0);
    font-size: 15px;
    font-weight: 650;
}

/* Gestion taille paragraphe/couleur et lien souligné*/

.p-photo-lorem-lien {
    text-decoration: underline;
    color: rgb(174, 0, 0);
    font-size: 15px;
}